#product-main {
    padding: 1rem;
    position: relative;

    @media (min-width: 768px) {
        .header {
            padding-top: 0.5rem;
            position: sticky;
            top: 0;
            backdrop-filter: blur(5px);
            background: rgba(255, 255, 255, 0.7);
            z-index: 1;
        }
    }

    .header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        h3 {
            font-size: 2rem;
            margin-bottom: 1.2rem;
            margin-top: 0.5rem;
            font-weight: 800;
        }

        a {
            @media (max-width: 768px) {
                position: fixed;

                bottom: 2rem;
                right: 1rem;
                margin-right: 0px;

                .c-badge {
                    padding: 0.5rem;
                    width: 2.5rem;
                    height: 2.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background: var(--secondary);
                    svg {
                        fill: var(--text);
                        width: 2rem;
                    }

                    .count {
                        transform: scale(1.2);
                        right: -10%;
                        top: -10%;
                    }
                }
            }

            display: block;
            z-index: 1;
            margin-right: 0.5rem;
            svg {
                height: 2rem;
            }
        }
    }
}

#product-list > .list-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);

        > .product-card {
            height: 14rem;
            > button {
                svg {
                    width: 1.2rem;
                }
            }

            > span {
                font-size: 1rem;
            }
        }
    }

    @media (min-width: 769px) and (max-width: 1280px) {
        grid-template-columns: repeat(3, 1fr);
    }

    > .product-card {
        overflow: hidden;
        display: flex;
        flex-flow: column;
        position: relative;
        border: 1px solid var(--secondary);
        border-radius: 0.5rem;
        padding: 0.5rem;
        height: 15rem;

        > img {
            height: 8rem;
            min-height: 8rem;
            object-fit: contain;
            margin-bottom: 10px;
        }

        > .title {
            display: -webkit-box;
            font-weight: bold;
            font-size: 0.8rem;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            max-height: 2.4rem;
            line-height: 1.2rem;
            // display: flex;
            // white-space: nowrap;
            // text-overflow: ellipsis;
        }

        > p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0.75rem;
            color: var(--primary);
        }

        > span {
            display: flex;
            position: absolute;
            font-weight: bold;
            color: var(--text);
            font-size: 1.4rem;
            bottom: 0.6rem;
            justify-content: space-between;
        }

        > button {
            position: absolute;
            right: 0.5rem;
            bottom: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--secondary);
            padding: 0.35rem;
            border-radius: 50%;
            svg {
                width: 1.4rem;
                fill: var(--text);
            }
        }
    }
}
