#cart-main {
    position: relative;

    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: 6fr 2.5fr;
        grid-template-areas: 'list checkout';
        height: 100vh;
    }

    @media (min-width: 1280px) {
        grid-template-columns: 7fr 2fr;
    }

    > .content {
        display: flex;
        flex-flow: column nowrap;
        padding: 1rem;

        h3 {
            font-size: 2rem;
            margin-bottom: 1.2rem;
            margin-top: 1.2rem;
            font-weight: 800;
        }

        .cart-items {
            margin-top: 1rem;
            display: flex;
            flex-flow: row wrap;
            gap: 1rem;

            @media (min-width: 789px) and (max-width: 1280px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                > .cart-item {
                    border-top: none;
                }
            }

            @media (min-width: 1280px) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                > .cart-item {
                    border-top: none;
                }
            }
        }
    }

    > .process-to-checkout {
        padding: 1rem;
        position: sticky;
        bottom: 0px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.7);
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        @media (min-width: 1024px) {
            position: static;
            padding-top: 5rem;
            justify-content: flex-start;
            background-color: var(--background);
        }

        > .total {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-weight: 700;
            font-size: 1.2rem;
            > span {
                font-weight: 700;
                font-size: 2rem;
                color: var(--text);
            }
        }

        > button {
            width: 100%;
            background: var(--primary);
            color: var(--background);
            padding: 0.7rem 1rem;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}
