.c-badge {
    position: relative;

    .count {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        position: absolute;
        top: -30%;
        right: -30%;
        background: var(--primary);
        color: var(--background);
    }
}
