.cart-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'image info';
    width: 100%;

    & + & {
        border-top: 1px solid var(--secondary);
        padding-top: 1.2rem;
    }

    img {
        grid-area: image;
        width: 10rem;
        height: 6rem;
        object-fit: contain;
        align-self: center;
        justify-self: center;
    }

    > .info {
        display: grid;
        grid-template-columns: 1fr 4rem;
        grid-template-rows: 1fr 2rem;
        grid-template-areas:
            'title title'
            'price action';
        > .title {
            grid-area: title;
            min-height: 6rem;
            font-weight: 700;
        }

        > span {
            grid-area: price;
            font-weight: 700;
            display: flex;
            line-height: 2rem;
            font-size: 1.2rem;
            align-items: baseline;
        }

        > button {
            grid-area: action;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                background: var(--secondary);
                fill: var(--text);
                padding: 0.2rem;
                border-radius: 50%;
                width: 0.8rem;
                margin-right: 0.3rem;
            }

            span {
                font-size: 1.2rem;
            }
        }
    }
}
